*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: red;

}
main{
  width: 70%;
  height: auto;
}
header,div,nav{
    width: 70%;
    height: 70%;
    display: flex;
justify-content: space-between;
}
 hr{

  }
  #paragraph{
    width: 70%;
    margin: 0 auto;
  }
  .images{
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
  }
  .cards{
    width: auto;
  }
  #container3{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .h3{
    font-size: medium;
    padding-bottom: 7px;
  }
  p{
    padding-top: 7px;
  }
  .button1{
    width: 95%;
    padding: 7px;
    border: none;
    margin-top: 7px;
    margin-bottom: 40px;
  }
  #button2{
  font-size: large;
  padding: 10px; 
  background-color: black;
  color: white; 
  border: none;
  }
  .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width:auto;
    position: relative;
  }

  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
  }

  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: gray;
  }
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: white;
  }

  .inputGroup :is(input:focus, input:valid) {
    border-color:lightblue;
  }



  #container4 ,.contact{
    width: 100%;

  }
  img{
    width: 70%;
    height: 70%;
  }

footer,p{
    background-color: black;
    text-align: center;
}